.button {
  align-items: center;
  border-radius: 0.5rem;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  transition: 0.4s ease;
}

.button--primary {
  background: linear-gradient(93.31deg, $purple 0%, $pink 48.96%, $orange 93.23%);
  color: $white;
  font-size: 0.9375rem;
  overflow: hidden;
  padding: 1rem 6rem 1rem 2.5rem;
  position: relative;

  &:hover {
    color: $white;
  }

  .button__icon {
    align-items: center;
    background: rgba($black, 0.1);
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1.25rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.button--secondary {
  background: #e9944f;
  color: $white;
  font-size: 0.8125rem;
  overflow: hidden;
  padding: 0.875rem 5.25rem 0.875rem 2rem;
  position: relative;

  &:hover {
    color: $white;
  }

  .button__icon {
    align-items: center;
    background: rgba($black, 0.1);
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.875rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.button--normal {
  background-color: $white;
  color: $dark;
  font-size: 0.875rem;
  letter-spacing: -0.02em;
  overflow: hidden;
  padding: 0.5625rem 3.125rem;
  position: relative;

  &:before {
    background-color: $pink;
    border-radius: 50%;
    content: '';
    height: 1px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: 0.5s ease;
    width: 1px;
  }

  .button__up {
    transition: 0.3s ease;
  }

  .button__down {
    position: absolute;
    top: 100%;
    transition: 0.3s ease;
  }

  &:hover {
    color: $white;

    &:before {
      opacity: 1;
      transform: scale(250, 250);
      transition: 0.75s ease;
    }

    .button__up {
      transform: translateY(-200%);
    }

    .button__down {
      transform: translateY(-140%);
      transition: transform 0.3s ease 0.25s;
    }
  }
}

.button--border {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;

  &:before {
    background-color: $white;
  }

  &:hover {
    color: $dark;
  }
}
