.footer {
  background-color: $dark;
  color: $white;
  padding-top: 3rem;

  @include mq($from: medium) {
    padding-bottom: 3rem;
    padding-top: 6.25rem;
  }
}

.footer__logo {
  max-width: 5.3125rem;
}

.footer__text {
  font-size: 0.8125rem;
  line-height: 2.15;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  max-width: 22rem;

  @include mq($from: medium) {
    margin-bottom: 0;
  }
}

.footer__legal {
  font-size: 0.75rem;
  margin-top: 4.375rem;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;

  @include mq($from: medium) {
    margin-top: 5rem;
  }

  &:before {
    background: linear-gradient(93.31deg, #5910bb 0%, #d58bf5 15.63%, $pink 48.96%, $orange 93.23%);
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
