.heading {
  margin: 0 auto 3.125rem;
  max-width: 42.5rem;
  text-align: center;
}

.heading__text {
  font-size: 0.8125rem;
  line-height: 2;
  margin-top: 1rem;

  @include mq($from: medium) {
    font-size: 1rem;
  }
}
