.hero {
  background-color: $dark;
  color: $white;
  padding-bottom: 10rem;
  padding-top: 10rem;
  position: relative;

  @include mq($from: medium) {
    padding-bottom: 0;
  }
}

.hero__ellipse {
  border-radius: 50%;
  display: none;
  filter: blur(200px);
  pointer-events: none;
  position: absolute;

  @include mq($from: medium) {
    display: block;
  }
}

.hero__ellipse--1 {
  background: $purple;
  height: 21.875rem;
  left: 2%;
  opacity: 0.25;
  top: 8.125rem;
  width: 20.625rem;
}

.hero__ellipse--2 {
  background: $pink;
  bottom: 3%;
  height: 29.375rem;
  right: 3%;
  width: 27.5rem;
  opacity: 0.16;
}

.hero__content {
  max-width: 34rem;
  padding-right: 2rem;
  position: relative;

  @include mq($from: medium) {
    padding-bottom: 5rem;
    padding-right: 0;
  }
}

.hero__text {
  font-size: 0.8125rem;
  line-height: 2;
  margin-top: 1rem;

  @include mq($from: medium) {
    font-size: 1rem;
  }
}

.hero__cta {
  margin-top: 2rem;
}

.hero__image {
  display: none;
  margin-left: auto;
  max-width: 36.875rem;

  @include mq($from: medium) {
    display: block;
  }

  &:after {
    background: linear-gradient(270deg, $dark 0%, rgba($dark, 0) 97.65%);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
  }
}
