@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

$white: #fff;
$black: #000;
$dark: #141531;
$purple: #9469fe;
$pink: #ff79e0;
$orange: #ffbea7;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $dark;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base: 'Poppins', sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;
$font-weight-bold: 600;

$headings-font-family: $font-family-base;
$headings-font-weight: 600;
$headings-line-height: 1.2;

$paragraph-margin-bottom: 1.5rem;

$mq-breakpoints: (
  mini: 320px,
  small: 375px,
  medium: 768px,
  large: 1024px,
  laptop: 1280px,
  huge: 1440px,
  max: 1920px,
);
