body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

.container {
  @include mq($until: medium) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

::selection {
  background-color: $purple;
  color: $white;
}

::-moz-selection {
  background-color: $purple;
  color: $white;
}
